mat-card {
  margin-top: 5px;
}
.header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2;
  height: 70px;
  margin-left: 40px;
}

#confessions-container {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.confession-card {
  display: flex;
  width: calc(100% / 3 - 20px);
  margin: 10px;
  justify-content: space-between;
}

@media screen and (max-width: 1100px) {
  .confession-card {
    width: calc(100% / 2 - 20px);
  }
}
@media screen and (max-width: 768px) {
  .confession-card {
    width: 100%;
    max-width: 100%;
  }
}

cdk-virtual-scroll-viewport {
  height: 80vh;
}

.mat-card-header-text {
  margin: 0px;
}
.mat-row {
  padding: 5px 0px;
}
.mat-row:nth-child(even) {
  background-color: white;
}

.mat-row:nth-child(odd) {
  background-color: #f9f9f9;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.mat-table {
  overflow: auto;
}

.element-row {
  position: relative;
}

.element-row:not(.expanded) {
  cursor: pointer;
}

.element-row:not(.expanded):hover {
  background: #f5f5f5;
}

.element-row.expanded {
  border-bottom-color: transparent;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  padding: 10px 20px;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

div.bottomActionBar {
  display: none;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--bg-dark-blue);
  z-index: 100;
}

div.bottomActionBar > div {
  flex: 1;
  padding: 1rem 0px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.bottomActionBar > div:hover {
  cursor: pointer;
  background-color: var(--color-blue);
  color: var(--bg-dark-blue);
}

div.bottomActions {
  background-color: var(--color-blue);
  position: fixed;
  display: block;
  width: 100%;
  margin: 0px auto;
  bottom: calc(3rem + 5px);
  z-index: 100;
  padding: 1rem 8px;
  left: 0;
}

div#bottomFilters,
div#bottomSearch {
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

div.fab {
  position: fixed;
  z-index: 100;
  bottom: 1.5rem;
  right: 1rem;
}

@media only screen and (max-width: 800px) {
  div.bottomActionBar {
    display: flex;
  }

  div.fab {
    display: none;
  }
}

div.confessionBlock {
  margin: 8px 0px;
}

span.circle-count {
  background-color: #3f51b5;
  padding: 4px;
  border-radius: 50%;
  margin: 0px 4px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 80%;
  font-family: "Roboto", sans-serif;
}
