<div
  *ngIf="event"
  style="width: 90%; margin: 0px auto; padding-top: 20px; height: 100vh"
>
  <mat-card *ngIf="authenticated === ''">
    <!-- <mat-card *ngIf="event.adminPassword != '' && model.pass != event.adminPassword"> -->
    <mat-card-header>
      <mat-card-title>
        <h2>{{ event.formal_name }} Admin</h2>
      </mat-card-title>
    </mat-card-header>
    <form [formGroup]="form">
      <formly-form
        [model]="model"
        [fields]="fields"
        [options]="options"
        [form]="form"
      >
        <button
          [disabled]="model.pass === ''"
          mat-raised-button
          color="primary"
          (click)="passSecurity(model.pass)"
        >
          Submit
        </button>
      </formly-form>
    </form>
  </mat-card>
  <!-- <div *ngIf="!event.adminPassword || model.pass === event.adminPassword"> -->
  <div *ngIf="authenticated != ''">
    <mat-card style="margin-bottom: 50px">
      <mat-card-header>
        <mat-card-title>
          <h2>{{ event.formal_name }} - Confessions Management</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <input
            matInput
            (keyup)="applyFilter($event.target.value)"
            placeholder="Search"
          />
        </mat-form-field>
        <table
          style="width: 100%"
          mat-table
          matSortActive="status"
          matSortDirection="desc"
          #table
          [dataSource]="dataSource"
          matSort
          class="animate"
        >
          <ng-container matColumnDef="dateCreated">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Date
            </mat-header-cell>
            <mat-cell *matCellDef="let confession" [matTooltip]="confession.id">
              <span [ngClass]="{ alert: confession.reportCount > 0 }"
                >{{ confession["dateCreated"] | date: "short" }}
              </span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="to">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              To
            </mat-header-cell>
            <mat-cell
              *matCellDef="let confession"
              [matTooltip]="confession.message"
            >
              <span [ngClass]="{ alert: confession.reportCount > 0 }">
                {{ confession.to }}
              </span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header
              >Status
            </mat-header-cell>
            <mat-cell *matCellDef="let confession">
              <span [ngClass]="{ alert: confession.reportCount > 0 }">
                <strong>
                  <span *ngIf="confession.reportCount > 0"
                    >R{{ confession.reportCount }} -
                  </span>
                  {{ confession.status }}
                </strong>
              </span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="manage">
            <mat-header-cell *matHeaderCellDef> Manage </mat-header-cell>
            <mat-cell *matCellDef="let confession">
              <button
                mat-raised-button
                [color]="confession.reportCount > 0 ? 'accent' : 'primary'"
                (click)="openDialog(confession)"
              >
                Edit
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></mat-header-row>
          <mat-row
            *matRowDef="let row; columns: displayedColumns"
            class="animate"
          ></mat-row>
        </table>
        <mat-paginator
          #paginator
          [pageSizeOptions]="[10, 25, 50, 100]"
        ></mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>
</div>
