<div style="padding-top: 20px;">
  <!-- <mat-card *ngIf="loginModel.pass != adminPassword">
    <mat-card-content>
      <h3>
        Password Protected Center
      </h3>
      <form [formGroup]="loginForm">
        <formly-form
          [model]="loginModel"
          [fields]="loginFields"
          [options]="loginOptions"
          [form]="loginForm"
        >
        </formly-form>
      </form>
    </mat-card-content>
  </mat-card> -->
  <!-- <mat-card *ngIf="!adminPassword || loginModel.pass === adminPassword"> -->

  <h2 style="margin-bottom: 20px;">Create Event</h2>
  <form [formGroup]="form">
    <formly-form
      [model]="model"
      [fields]="fields"
      [options]="options"
      [form]="form"
    >
      <button
        mat-raised-button
        color="primary"
        [disabled]="!form.valid"
        type="submit"
        (click)="update()"
      >
        Submit
      </button>
      <button
        mat-raised-button
        color="accent"
        type="button"
        class="btn btn-default"
        style="margin-left: 10px;"
        (click)="options.resetModel()"
      >
        Reset
      </button>
    </formly-form>
  </form>
</div>
