/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-card {
	margin-top: 5px;
}

.row {
	margin: 10px 0px;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.mat-card-header-text {
  margin: 0px !important;
}
