<mat-card *ngIf="confession" style="padding: 15px;" class="mat-elevation-z3">
  <mat-card-header style="margin: 0px;">
    <mat-card-title style="
        margin: 0px;
        width: 100%;
        display: flex;
        justify-content: space-between;
      ">
      <h5 style="font-size: 12pt;">{{ confession.to }}</h5>

      <mat-menu #menu="matMenu">
        <!-- TODO share button -->
        <!-- <button style="font-size: 11px;" mat-menu-item disabled="true">
          <mat-icon>share</mat-icon>
          <!-- <span>Share</span>
        </button>
        <button style="font-size: 11px;" mat-menu-item disabled="true">
          <mat-icon>notifications_on</mat-icon>
          <!-- <mat-slide-toggle
            [checked]="checked">
        </mat-slide-toggle> 
        </button> -->

        <!-- TODO create component to see the confession on it's own (perhaps in the center, no password required) -->
        <button style="font-size: 11px;" mat-menu-item (click)="reportConfession(confession)">
          <mat-icon matTooltip="Report">report_problem</mat-icon>
          <span>Report</span>
        </button>
      </mat-menu>
      <!-- TODO Ability to pin/star -->
    </mat-card-title>
    <mat-card-subtitle>
      <span style="font-size: 12px;">from
        <strong style="font-size: 13px;">{{
          confession.from ? confession.from : "Anonymous"
          }}</strong>
      </span>
    </mat-card-subtitle>
    <button mat-icon-button [matMenuTriggerFor]="menu" #trigger="matMenuTrigger"
      aria-label="Confession management button" style="margin-left: auto; margin-top: -10px;">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content style="padding: 0px 10px 5px 0px;">
    <p style="font-size: 12px;">{{ confession.message }}</p>
    <div *ngIf="confession.fileURL" style="margin-right: 20px;">
      <img style="max-width: 100%;" *ngIf="showImage" [src]="confession.fileURL" (click)="showImage = !showImage" />
      <span *ngIf="!showImage">
        <button mat-flat-button color="primary" (click)="showImage = !showImage">
          Load Image</button><br />
      </span>
    </div>
  </mat-card-content>
  <mat-card-actions style="padding-bottom: 10px;">
    <div style="display: flex; justify-content: flex-start; padding: 5px 10px;">
      <button mat-icon-button style="font-size: 13px;" (click)="showReactions = !showReactions">
        <mat-icon>tag_faces</mat-icon>
        {{ confession.score > 0 ? confession.score : "" }}
      </button>
      <button mat-icon-button style="font-size: 13px;" (click)="showComments = !showComments">
        <mat-icon>message</mat-icon>{{ confession.commentCount > 0 ? " " +
        confession.commentCount : "" }}
      </button>
      <button mat-icon-button matTooltip="Favorite" (click)="toggleFavoriteConfession(confession)">
        <mat-icon>{{favorited? "favorite" : "favorite_border"}}</mat-icon>
      </button>
      <!-- <button mat-icon-button style="font-size: 13px;" disabled="true"><mat-icon style="font-size: 14px;">reply</mat-icon></button> -->
      <span style="
          font-size: 8pt;
          display: inline-block;
          padding-top: 12px;
          margin-left: auto;
        ">
        {{ confession.dateCreated | date: "short" }}
      </span>
    </div>
    <div *ngIf="showReactions">
      <mat-button-toggle-group class="mat-elevation-z0">
        <mat-button-toggle class="mat-elevation-z0" style="
            width: 100%;
            min-height: 60px;
            padding-top: 5px;
            width: 25%;
            margin: 0px auto;
          " *ngFor="let val of reactionTypes" [value]="val.data" (click)="react(val.data)">
          <i [class]="val.icon"></i>
          <span style="position: relative; left: 5px; bottom: 15px; font-size: 9px;">{{ confession.reaction[val.data]
            }}</span>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <!-- <div class="col-sm-6 col-md-12 col-lg-12" style="margin-bottom: 20px;">
      <mat-button-toggle-group class="mat-elevation-z0">
        <mat-button-toggle
          class="mat-elevation-z0"
          style="width: 100%; min-height: 60px; padding-top: 5px; width: 25%; margin: 0px auto;"
          *ngFor="let val of reactionTypes"
          [value]="val.data"
          (click)="react(val.data)"
        >
          <i [class]="val.icon"></i>
          <span
            style="position: relative; left: 5px; bottom: 15px; font-size: 9px"
            >{{ confession.reaction[val.data] }}</span
          >
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div> -->

    <!-- <div class="col-sm-6 col-md-12 col-lg-12">
      <button
        mat-raised-button
        *ngIf="confession.comments"
        [matBadge]="confession.commentCount"
        (click)="showComments = !showComments"
        style="font-size: 10pt"
      >
        Comment
      </button>
      <br />
      <a
        (click)="reportConfession(confession)"
        style="font-size: 10px; cursor:pointer;"
        >Report Confession</a
      >
      <button mat-raised-button *ngIf="!confession.comments">Comment</button>
    </div> -->
    <div *ngIf="showComments" style="padding: 0px 10px;">
      <hr />
      <mat-form-field style="width: 90%; margin: 10px auto; font-size: 14px;">
        <textarea matInput rows="4" [(ngModel)]="commentMessage" placeholder="Comment ..."></textarea>
        <button *ngIf="commentMessage" matSuffix mat-icon-button aria-label="Clear" (click)="comment()">
          <mat-icon>send</mat-icon>
        </button>
        <mat-hint align="start" *ngIf="sentComment">
          <strong>Sent for approval</strong>
        </mat-hint>
      </mat-form-field>
      <div>
        <div *ngFor="let c of confession.comments">
          <div *ngIf="c.visible" style="
              padding: 10px;
              border-radius: 5px;
              margin-bottom: 4px;
              background-color: rgb(236, 238, 239);
            ">
            <p style="font-size: 12px;">{{ c.message }}</p>
            <p class="text-right" style="color: #999; font-size: 8px;">
              {{ c.dateCreated.toDate() | date: "short" }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </mat-card-actions>
</mat-card>