<ng-container *ngIf="confession" style="max-height: 90vh; width: 85vw; max-width: 750px;">
  <div class="flex flex-row ">
    <div class="col2">
      <h1 style="color: red; margin-top: 5px" *ngIf="confession.reportCount > 0">
        REPORTED: {{ confession.reportCount }} times
      </h1>
      <h2>{{confession.to}}</h2>
      <div class="subtext"><span *ngIf="confession.from" style="font-size: 12pt;">from
          <strong>{{ confession.from }}</strong>
        </span>
      </div>
      <div style="min-height: 60px; max-height: 400px; overflow-y: scroll">
        <p class="txt-roboto" style="margin: 8px 0px;">
          {{ confession.message }}
        </p>
        <ng-container *ngIf="confession.fileURL">
          <img style="max-width: 100%" *ngIf="showImage" [src]="confession.fileURL" (click)="showImage = !showImage" />
          <span *ngIf="!showImage">
            <button mat-flat-button color="primary" (click)="showImage = !showImage">
              Load Image</button><br />
          </span>
        </ng-container>
      </div>
    </div>
    <div class="col2 bg-gray" style="padding: 1rem;">
      <h3>Confession Data</h3>
      <p class="subtext">Create date: {{ confession.dateCreated | date: "short" }}</p>
      <mat-button-toggle-group class="mat-elevation-z0">
        <mat-button-toggle disabled="true" class="mat-elevation-z0"
          style="width: 100%; min-height: 80px; padding-top: 25px; width: 25%; margin: 0px auto;"
          *ngFor="let val of reactionTypes" [value]="val.data">
          <i [class]="val.icon"></i>
          <span style="position: relative; left: 5px; bottom: 15px; font-size: 10px">{{ confession.reaction[val.data]
            }}</span>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <h3>Moderate</h3>
      <div class="flex">
        <button mat-raised-button color="warn" [disabled]="auth === 'view'"
          (click)="moderateConfession(confession.id, false)">
          <span *ngIf="confession.visible">Disprove</span>
          <span *ngIf="!confession.visible">Deny</span>
        </button>
        <button mat-raised-button color="accent" *ngIf="!confession.visible" [disabled]="auth === 'view'"
          (click)="moderateConfession(confession.id, true)">
          Approve
        </button>
      </div>

    </div>
    <div style="width: 100%;">
      <h3>Comments</h3>
      <mat-accordion>
        <mat-expansion-panel *ngIf="pending.length > 0">
          <mat-expansion-panel-header>Pending Comments</mat-expansion-panel-header>
          <div class="flex flex-row col1-3 bg-gray" style="padding: 1rem; margin: 8px 0px; "
            *ngFor="let comment of pending">
            <div>
              <p>
                {{ comment.message }}
              </p>
              <p class="subtext">
                {{ comment.dateCreated.toDate() | date: "short" }}
              </p>
            </div>
            <div class="text-right">
              <button mat-raised-button color="primary" [disabled]="auth === 'view'"
                (click)="moderateComment(comment.id, true)">
                Approve
              </button>
              <br />
              <button mat-raised-button color="warn" [disabled]="auth === 'view'"
                (click)="moderateComment(comment.id, false)">
                Block
              </button>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="approved.length > 0">
          <mat-expansion-panel-header>Approved Comments</mat-expansion-panel-header>
          <div class="flex flex-row col1-3 bg-gray" style="padding: 1rem; margin: 8px 0px; "
            *ngFor="let comment of approved">
            <div>
              <p>
                {{ comment.message }}
              </p>
              <p class="subtext">
                {{ comment.dateCreated.toDate() | date: "short" }}
              </p>
            </div>
            <div class="text-right">
              <button mat-raised-button color="warn" [disabled]="auth === 'view'"
                (click)="moderateComment(comment.id, false)">
                Block
              </button>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</ng-container>